body {
  color: var(--wp--preset--color--primary);
  font-family: var(--wp--preset--font-family--system-font);
}

a {
  color: var(--wp--preset--color--theme);
  text-decoration: none;
}

.wp-block-navigation .wp-block-navigation-item__content {
  color: var(--wp--preset--color--theme);
}

.ast-site-title {
  font-size: 35px;
  font-weight: 400;
}

.ast-site-title a {
  color: var(--wp--preset--color--primary);
}

.wp-block-post-title a {
  color: var(--wp--preset--color--primary);
}

.comment-form-comment {
  border: none;
  padding: 0;
  margin: 0;
}
