<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
..
<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"padding":{"top":"calc(var(--wp--custom--v-spacing, 1em) *4)","bottom":"calc(var(--wp--custom--v-spacing, 1em) *4)"}}},"layout":{"inherit":true}} -->
<main class="wp-block-group alignfull" style="padding-top:calc(var(--wp--custom--v-spacing, 1em) *4);padding-bottom:calc(var(--wp--custom--v-spacing, 1em) *4)">

	<!-- wp:post-title {"style":{"spacing":{"margin":{"bottom":"0.2em","top":"0em"}}}} /-->
	<!-- wp:post-featured-image {"align":"full"} /-->
	<!-- wp:post-content {"layout":{"inherit":true}} /-->

	<!-- wp:group {"layout":{"inherit":true}} -->
	<div class="wp-block-group">

		<!-- wp:group -->
		<div class="wp-block-group">

			<!-- wp:post-date /-->
			<!-- wp:post-terms {"term":"category"} /-->
			<!-- wp:post-terms {"term":"post_tag"} /-->
			<!-- wp:post-comments-link /-->

		</div>
		<!-- /wp:group -->

		<!-- wp:post-comments /-->

	</div>

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer-container"} /-->
