.customize-control-ast-sortable-group .sortable,
.customize-control-ast-sortable .sortable {
  cursor: default;
}

.customize-control-ast-sortable-group .sortable .dashicons-visibility,
.customize-control-ast-sortable .sortable .dashicons-visibility,
.customize-control-ast-sortable-group .ast-optiom {
  cursor: pointer;
}

.customize-control-ast-sortable-group .sortable .dashicons-visibility:hover,
.customize-control-ast-sortable .sortable .dashicons-visibility:hover, 
.customize-control-ast-sortable .ast-option:hover {
  opacity: .6;
}

.customize-control-ast-sortable-group .sortable div,
.customize-control-ast-sortable .sortable div {
  padding: 0 12px 0 0;
  border: 1px solid #dddddd;
  color: #556068;
  background: #ffffff;
  cursor: move;
  line-height: 38px;
  margin: 0 0 10px;
  border-radius: 3px;
}

.customize-control-ast-sortable-group .sortable div:last-child,
.customize-control-ast-sortable .sortable div:last-child {
  margin: 0;
}

.customize-control-ast-sortable-group .sortable div .dashicons.visibility,
.customize-control-ast-sortable .sortable div .dashicons.visibility,
.customize-control-ast-sortable-group .sortable div .dashicons.ast-option {
  float: left;
  position: relative;
  font-size: 18px;
  padding: 9px 12px;
  line-height: 20px;
  border-right: 1px solid #ddd;
}

.customize-control-ast-sortable-group .sortable div.invisible,
.customize-control-ast-sortable .sortable div.invisible {
  opacity: 0.6;
}

.customize-control-ast-sortable-group .sortable div.invisible .dashicons.visibility:after,
.customize-control-ast-sortable .sortable div.invisible .dashicons.visibility:after {
  opacity: 1;
  position: absolute;
  content: '';
  width: 20px;
  height: 2px;
  top: 18px;
  right: 12px;
  background: #656565;
  border-radius: 5px;
  transform: rotate(45deg);
  box-shadow: 0px 0px 0px 1px #fff;
  transition: opacity 0.2s ease;
}


.customize-control-ast-sortable-group .sortable div.ast-with-accordion {
	padding-right: 0;
}
  
.customize-control-ast-sortable-group .ast-with-accordion .ast-single-item {
	margin-bottom: 0;
}
  
.customize-control-ast-sortable-group .ast-with-accordion .ast-single-item,
.customize-control-ast-sortable-group .ast-with-accordion .ast-more-option {
	border: 0;
}
  
.ast-sortable-item.invisible,
.ast-sortable-item:hover {
	opacity: .8;
}
  
.ast-sortable-item.show:hover {
  opacity: 1;
}
  
.ast-sortable-item .ast-more-option {
	display: none;
}
  
.ast-sortable-item.show .ast-more-option {
	display: block;
}

.ast-sortable-item.show .ast-single-item {
  border-bottom: 1px solid #dddddd;
  border-radius: 0;
}